.home__noresult {
  height: 50vh;
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__results {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}