.product__page{
  margin-top: 4rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  background-color: rgb(235, 235, 235);;
}

.productpage__img {
  max-height:60vh;
  width: auto;
}

.productpage__imgs {
  display: block;
  width:40vw;
  height:80vh;
}

.productpage__actions{
  display: flex;
  justify-content: space-evenly;
}