.product__card {
  padding: 1em;
  margin: 1em 0;
}

.product__img {
  width: auto;
  height: 100px;
  border: solid 1px lightgray;
  margin: 1em;
}

.product__table {
  width: 100%;
}

.product__table {
  width: 100%;
}