.new__button {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.2em;
}

.new__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}

.new__form {
  padding: 1em;
}

.new__image {
  height: 100px;
  width: auto;
  margin: 1em;
}

.new__table {
  width: 100%;
}