.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
} 

.header_option {
  color: white;
  display: flex;
  margin: 0 10px;
  flex-direction: column;
}

.header_title {
  margin: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.header_title_icon {
  margin: 5px;
  color: #cd9042;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
}


.header_search_input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_search_icon {
  color: white;
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_nav {
  display: flex;
}

.header_line_one {
  font-size: 10px;
}

.header_line_two {
  font-size: 13px;
  font-weight: 800;
}

.header_option_basket {
  color: white;
  margin: 5px ;
  display: flex;
}

.header_count {
  color: #cd9042;
  margin: 5px;
}