.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
} 

.header__option {
  color: white;
  display: flex;
  margin: 0 10px;
  flex-direction: column;
}

.header__title {
  margin: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.header__titleIcon {
  margin: 5px;
  color: #cd9042;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}


.header__searchInput {
  height: 12px;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

.header__searchIcon {
  color: white;
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
}

.header__lineOne {
  font-size: 11px;
}

.header__lineTwo {
  font-size: 13px;
  font-weight: 600;
}

.header__optionBasket {
  color: white;
  margin: 0 5px ;
  display: flex;
  font-size: 34px;
}

.header__count {
  color: #cd9042;
  margin: 5px;
  position: absolute;
  top: 11px;
  right: 12px;
  font-weight: 700;
}